@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Karla', sans-serif;
}

.App{
  width: 550px;
  height: 550px;
  margin: 0 auto;
  background-color: #f2f4f6;
}
header{
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
}
.projext--title{
  font-size: 0.75rem;
  font-weight: 500;

}
.troll-face{
  margin-right: 5px;
  height: 26px;
}


.brand--text{
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: bold;
}
main{
  padding: 36px;
  display: block;
  gap: 16px;
}
.form{
 display: grid;
 grid-template: 40px 40px / 1fr 1fr;
 gap: 16px;
}



input{
  width: 230px;
  height: 35px;
  border: 2px solid #D5D4D8;
  border-radius: 5px;
  font-size: 0.75rem;
  outline: none;
  text-indent: 10px;
  font-family: 'Karla', sans-serif;
  color: gray;
}
.btn{
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  width: 100%;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: 'Karla', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  outline: none;
  border: none;
  height: 40px;
  cursor: pointer;

}

.meme--image {
  max-width: 100%;
}