@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Karla', sans-serif;
}

.App{
  width: 600px;
  
  margin: 0 auto;
  background-color: #f2f4f6;
}
header{
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  margin-bottom: 17px;
}
.projext--title{
  font-size: 0.75rem;
  font-weight: 500;

}
.troll-face{
  margin-right: 5px;
  height: 26px;
}


.brand--text{
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: bold;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--image {
  max-width: 100%;
  border-radius:5px ;
  margin-bottom: 10px;
}
main{
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
